<div class="wrapper fadeInDown">
  <div id="formContent">

    <h2 class="underlineHover" routerLink="/login" routerLinkActive="active"> Sign In </h2>
    <h2 class="underlineHover" routerLink="/signup" routerLinkActive="active">Sign Up </h2>
    <br>
    <h2 class="inactive underlineHover">Smart System</h2>
    <div>
      <img src="assets/img/logoo1.jpg" id="icon" alt="User Icon" />
    </div>
    <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid &#038;&#038; onSubmit(signUpForm)">
      <input type="text" #firstname="ngModel" [(ngModel)]="userService.selectedUser.firstname" name="firstname"
        placeholder="First Name" required
        [ngClass]="{'invalid-textbox' :signUpForm.submitted &#038;&#038; !firstname.valid }">
      <div *ngIf="signUpForm.submitted &#038;&#038; !firstname.valid">
        <label class="validation-message">This field is required.</label>
      </div>
      <input type="text" #lastname="ngModel" [(ngModel)]="userService.selectedUser.lastname" name="lastname"
        placeholder="Last Name" required
        [ngClass]="{'invalid-textbox' :signUpForm.submitted &#038;&#038; !lastname.valid }">
      <div *ngIf="signUpForm.submitted &#038;&#038; !lastname.valid">
        <label class="validation-message">This field is required.</label>
      </div>
      <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
        required [pattern]="emailRegex"
        [ngClass]="{'invalid-textbox' :signUpForm.submitted &#038;&#038; !email.valid }">
      <div *ngIf="signUpForm.submitted &#038;&#038; email.errors">
        <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
      </div>
      <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
        placeholder="Password" minlength="4" required
        [ngClass]="{'invalid-textbox' :signUpForm.submitted &#038;&#038; !password.valid }">
      <div *ngIf="signUpForm.submitted &#038;&#038; password.errors">
        <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
      </div>
      <input type="submit" value="Sign Up">
    </form>
    <div class="success" *ngIf="showSucessMessage">
      Saved successfully
    </div>

    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>

  </div>
</div>