label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 .success{
  padding: 20px;
  background-color:#f44336; /* Green */
  color: white;
  margin-bottom: 15px;
}